{% extends 'base.html' %}
{% block content %}
<div class="auth-container">

    <div class="auth-card">

        <h2>Fazer Login</h2>

        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="auth-btn">
                Entrar
            </button>
        </form>

        <p class="auth-switch">
            Ainda não tem uma conta?
            <a href="{% url 'profile:register' %}">
                Cadastre-se
            </a>
        </p>

    </div>

</div>
{% endblock %}