<!--
{% extends 'base.html' %}

{% block content %}

    <form method="post">
        {% csrf-token %}
        {{ form }}
        <button type="submit">Criar Conta</button>
    </form>

{% endblock %}
-->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registre</title>
</head>
<body>
    
    <form method="post">
            {% csrf_token %}
            <p>pfv funcione amigo</p>
            {{ form.as_p }}    
            <button type="submit">Criar Conta</button>
    </form>
    
</body>
</html>